name: area_mobile
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  http: ^1.1.0
  shared_preferences: ^2.2.2
  webview_flutter: ^4.4.2

flutter:
  uses-material-design: true
  assets:
    - assets/
